<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>entry</servlet-name>
		<jsp-file>/entry.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>entry</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>address</servlet-name>
		<jsp-file>/address.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>address</servlet-name>
		<url-pattern>/address</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>degreeLocation</servlet-name>
		<jsp-file>/degreeLocation.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>degreeLocation</servlet-name>
		<url-pattern>/degreeLocation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>chooseUniversity</servlet-name>
		<jsp-file>/chooseUniversity.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>chooseUniversity</servlet-name>
		<url-pattern>/chooseUniversity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>chooseDiscipline</servlet-name>
		<jsp-file>/chooseDiscipline.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>chooseDiscipline</servlet-name>
		<url-pattern>/chooseDiscipline</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>degreesList</servlet-name>
		<jsp-file>/degreesList.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>degreesList</servlet-name>
		<url-pattern>/degreesList</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>specialization</servlet-name>
		<jsp-file>/specialization.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>specialization</servlet-name>
		<url-pattern>/specialization</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>verification</servlet-name>
		<jsp-file>/verification.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>verification</servlet-name>
		<url-pattern>/verification</url-pattern>
	</servlet-mapping>



</web-app>